<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>主页</title>
		<!-- 这个是提前引入的字体图标 -->
		<link rel="stylesheet" href="../static/css/font-awesome.css" />
		<link rel="stylesheet" href="../static/css/homepage.css" />
		<script type="text/javascript" src="../static/js/homepage.js"></script>
	</head>
	
	<body>
		<div class="navbar">
			<input type="checkbox" id="checkbox" />
			<!-- 复选框的id属性值和label元素的for属性值必须是相同的,才能够通过点击label选中复选框 -->
			<label for="checkbox">
				<i class="fa fa-bars"></i>
			</label>
			<ul>
				<li>
					<img  src="../static/images/a1.jpg" alt="头像" />
					<span>欢迎你 亲爱的</span>
				</li>
				<li>
					<a href="javascript:void(0)" onclick="timerjump()">
						<i class="fa fa-home"></i>
						<span>爱的计时</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" onclick="picturejump()">
						<i class="fa fa-sitemap"></i>
						<span>旋转相册</span>
					</a>
				</li>
				<!-- <li>
					<a href="javascript:void(0)">
						<i class="fa fa-user"></i>
						<span>用户列表</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="fa fa-shopping-cart"></i>
						<span>订单列表</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="fa fa-windows"></i>
						<span>功能列表</span>
					</a>
				</li> -->
			</ul>
		</div>
		<p>喜欢就和我讲，我又不是不负责</p>
		<p>没事，我不听他们说，我听你说</p>
		<p>如果你半夜醒了<br>就给我打电话，不要一个人玩手机</p>
		<p>回家这个词很棒吧<br>我带你回家，我们回家，回我们家</p>
		<p>生活不如你意，我如你意<br>好运不在你身边，我在你身边</p>
		<p>想我了就找我，别管我是不是在睡觉，是不是心情不好<br>是不是在吃饭，是不是会打扰。你需要我，我就会在</p>
		<p>我不会以爱之名束缚你，你可以做任何事情<br>我只希望你在做任何事之前都会想起我，并为我拒绝一些人和事</p>
	</body>
</html>
